// my theme variables
$primary: #1c111f;
$secondary: #444;
// $success: $green !default;
$info: #9055a5;
// $warning: $yellow !default;
// $danger: $red !default;
$light: #fcfbf8;
$dark: #faf1ef;

//my custom font
$font-family-base: "Poppins", sans-serif;

//hover effects on buttons
$btn-hover-bg-shade-amount: 100%;
$btn-hover-border-shade-amount: 100%;
