// my theme variables
$primary: #1c111f;
$secondary: #454545;
// $success: $green !default;
$info: #9055a5;
// $warning: $yellow !default;
// $danger: $red !default;
$light: #fcfbf8;
$dark: #faf1ef;

//my custom font
$font-family-base: "Poppins", sans-serif;
