// my theme variables
$primary: #1c111f;
$secondary: #535353;
$info: #9055a5;
$light: #fcfbf8;
$dark: #faf1ef;

//my custom font
$font-family-base: "Poppins", sans-serif;

//hover effects on buttons
$btn-hover-bg-shade-amount: 100%;
$btn-hover-border-shade-amount: 100%;
