@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

//my custom font sizes
.fs-0 {
  font-size: 2.75rem;
}
.fs-7 {
  font-size: 0.8rem;
}

//source: https://stackoverflow.com/questions/67136313/how-to-create-button-with-text-under-icon-using-bootstrap-5-or-css
.custom-dropdown {
  display: flex;
  flex-direction: column;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//custom profile image size
.profile-img-small {
  width: 2.75rem;
  height: 2.75rem;
}

//sources: https://css-tricks.com/snippets/css/blurry-text/ & http://jsfiddle.net/chriscoyier/zvgCs/
.blurry-text {
  text-shadow: 0 0 3px #1c111f,
    /* Many shadows blur out the area around the text */ 3px 0 3px #1c111f,
    0 3px 3px #1c111f, -3px 0 3px #1c111f, 0 -3px 3px #1c111f;
}

.card:hover {
  box-shadow: -3px 3px 3px #e6e6e6;
  transform: scale(1.01);
  transition: 0.5s;
}
