@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

//my custom font sizes
.fs-0 {
  font-size: 2.75rem;
}
.fs-7 {
  font-size: 0.8rem;
}

//source: https://stackoverflow.com/questions/67136313/how-to-create-button-with-text-under-icon-using-bootstrap-5-or-css
.custom-dropdown {
  display: flex;
  flex-direction: column;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//custom profile image size
.profile-img-small {
  width: 2.75rem;
  height: 2.75rem;
}
